<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AirLine</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/main.css}">
    </head>
    <body>
        <header>
            <a class="logo">Авиакомпании России</a>
            <nav>
                <ul class="topmenu">
                    <li><a th:href="@{/airline}" class="submenu-link">Авиакомпания</a>
                        <ul class="submenu">
                            <li><a th:href="@{/employee}">Сотрудники</a></li>
                            <li><a th:href="@{/payment}">Осуществление оплаты</a></li>
                            <li><a th:href="@{/belongs}">Принадлежность самолетов</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/travel_agency}" class="submenu-link">Турагенство</a>
                        <ul class="submenu">
                            <li><a th:href="@{/pass}">Пассажиры</a></li>
                            <li><a th:href="@{/reserv}">Осуществление бронирования</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/airplane}" class="submenu-link">Самолеты</a>
                        <ul class="submenu">
                            <li><a th:href="@{/class}">Класс</a></li>
                            <li><a th:href="@{/model}">Модель</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/trip}" class="submenu-link">Перелеты</a>
                        <ul class="submenu">
                            <li><a th:href="@{/flight}">Рейс</a></li>
                            <li><a th:href="@{/airports}">Аэропорты</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <form class="failes_list">
            <input type="text" name="seating" placeholder="Посадочные места" required>
            <input type="text" name="crew" placeholder="Члены экипажа" required>
            <select name="model" required>
                <option selected disabled>Выберите модель</option>
                <option th:each="model : ${aircraft_model}" th:value="${aircraft_model.id_model}" th:text="${aircraft_model.id_model}"></option>
            </select>
            <button class="button-17" role="button">Добавить</button>
        </form>
        <table>
            <tr>
              <th>ID</th>
              <th>Посадочные места</th>
              <th>Экипаж</th>
              <th>Модель</th>
              </tr>
              <tbody>
                <tr th:each="airplane : ${airplaneIterable}">
                    <td th:text="${airplane.id_plane}"></td>
                    <td th:text="${airplane.seating}"></td>
                    <td th:text="${airplane.crew}"></td>
                    <td th:text="${airplane.model}"></td>
                    <td>
                        <form th:action="@{/airplane/delete/{id_plane} (id_plane=${airplane.id_plane})}" method="post">
                            <button type ="submit" class="button-17" role="button">Удалить</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{'/airplane/' + ${airplane.id_plane}}">
                            <button type="submit" class="button-17">Редактировать</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
    </body>
</html>